.main-presentation {
    margin-bottom: 70px;
    font-size: 40px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__headline {
        color: #4A4FF2;
        font-size: 22px;
    }
    &__info {
        font-weight: 700;
        width: 60%;
    }
    &__purple-text {
        color: #4A4FF2;
    }
    &__quote {
        align-self: flex-end;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        width: 40%;
    }
}